.container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(8, 205, 41);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    margin-left: 7%;
    
}

.nav{
    display: flex;
    margin-right: 5%;
}

h2{
   padding-right: 50px;
}