.img{
    width: 100%;
    height: 100%; 
    cursor: pointer;
    transition: 0.4s;
}

.col{
    background-color: #000;
    width: 279px;
    height: 205px;
}
.col1{
    background-color: #000;
    width: 279px;
    height: 205px;
    overflow: hidden;
}

.link:hover .content{
    opacity: 1;

}
.imgBox{
    position: relative;
    width: 100%;
    height: 100%;
    transform-origin: left top;
}
h3{
    opacity: 0;
}
.col:hover .imgBox{
    transform: translate(-30px, -30px);
    transition: 0.4s;
}
.col1:hover .imgBox{
    transform: scale(1.4);
    transition: 0.6s;
}

.col h3{
position: absolute;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-100px);
}

.col:hover h3{
opacity: 1;
}

.cont{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}